/* .header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
    justify-content: space-between;
}

img.logo {
    height: 35px;
    background-color: #ff7f7f;
    animation: spin 8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


.Button-btn {
    height: 35px;
    display: flex;
    float: right;
    margin: 2px 4px !important;
}




 */



 .header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.lgn-btn {
    float: right;
}

.app-logo {
    animation: app-logo-spin infinite 8s linear;
    height: 35px;
    background: #ff7f7f;
}

.bs-btn {
    float: right;
    margin-right: 8px;
}

@keyframes app-logo-spin {
    from { transform: scaleX(-1); }
}

.tabs {
    margin-bottom: 20px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.changecolor {
    color: red;
}